//@charset "utf-8";
//
//
//// Set your brand colors
//$primary: #0086FF;
//
//@import "../../node_modules/bulma/bulma";

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$blue: #0086FF;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $blue;



// Import only what you need from Bulma
@import "../../node_modules/bulma/bulma.sass";