@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$blue: #0086FF;
$bluePetronas: #38B09D;
$coral: #FA7268;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $coral;
//$input-focus-border-color: $primary;



// Import only what you need from Bulma
@import "../../node_modules/bulma/bulma.sass";